@font-face {
    src: url("CursedTimerUlil-Aznm.ttf");
    font-family: Cursed Timer ULiL;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-image: url("court.jpg");
    background-size: cover;
       
}

.container {
    display: flex;
    justify-content: space-around;
    
    text-align: center;
    box-sizing: border-box;
    border-radius: 18px;
    border: 4px solid #080001;
    
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
      
    position: relative;
    
    width: 575px;
    height: 385px;

    background: #1B244A;   
    Width: 575px;
    Height: 385px
}


/* board-title-home */
.board-title-home {

    width: 149px;
    height: 36px;
    left: 82px;
    top: 68px;

    margin-top: 25px;
    margin-left: 82px;
    margin-right: auto; 

    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 36px;
    /* identical to box height, or 90% */
    text-align: center;
    color: #EEEEEE;
}



/* board-title-guest */
.board-title-guest {
    
    width: 149px;
    height: 36px;
    left: 337px;
    top: 68px;

    margin-top: 25px;
    margin-left: auto;
    margin-right: 82px;


    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 36px;
    /* identical to box height, or 90% */
    text-align: center;
    color: #EEEEEE;
}


 /* home-score */
.home-score {
    
    position: absolute;
    width: 155px;
    height: 120px;
    left: 82px;
    top: 125px; 

    background: #080001;
    border-radius: 5px;  
}


 /* guest-score */
.guest-score {
        
    position: absolute;
    width: 155px;
    height: 120px;
    left: 337px;
    top: 125px;

    background: #080001;
    border-radius: 5px;
}

/* add-points-btns-home */
.add-points-btns-home {
    position: absolute;
    width: 155px;
    height: 45px;
    left: 82px;
    top: 271px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));   
}


/* add-points-btns-guest */
.add-points-btns-guest {
    position: absolute;
    width: 152px;
    height: 45px;
    left: 337px;
    top: 271px;
}

/* home-points-text */
#home-points-text {

    width: 117px;
    height: 120px;
    left: 100px;
    top: 125px;

    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    /* or 141% */
    text-align: center;
    color: #F94F6D;   
}


/* guest-points-text */
#guest-points-text {
        
    width: 117px;
    height: 120px;
    left: 355px;
    top: 125px;

    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    /* or 141% */
    text-align: center;
    color: #F94F6D;
}


/* plus-one-point */
.plus-one-point{
    width: 45px;
    height: 45px;
    left: 82px;
    top: 271px;

    box-sizing: border-box;
    border: 2px solid #9AABD8;
    border-radius: 5px;

    background-color: #1B244A;
    color: #EEEEEE;
    font-family: 'Cursed Timer ULiL';
}


/* plus-two-point */
.plus-two-point {
    width: 45px;
    height: 45px;
    left: 136px;
    top: 271px;

    box-sizing: border-box;
    border: 2px solid #9AABD8;
    border-radius: 5px;

    background-color: #1B244A;
    color: #EEEEEE;
    font-family: 'Cursed Timer ULiL';
}

.plus-three-point {   
    width: 45px;
    height: 45px;
    left: 192px;
    top: 271px;

    box-sizing: border-box;
    border: 2px solid #9AABD8;
    border-radius: 5px;

    background-color: #1B244A;
    color: #EEEEEE;
    font-family: 'Cursed Timer ULiL';
}

#reset-btn {
    width: 55px;
    height: 45px;
    left: 282px;
    
    box-sizing: border-box;
    border: 2px solid #9AABD8;
    border-radius: 5px;

    background-color: #1B244A;
    color: #EEEEEE;
    font-family: 'Cursed Timer ULiL';
}











